body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blue;
    text-align: center;
    font-family:'Courier New', Courier, monospace, sans-serif;
    background-color: yellow;
    padding: auto;
    box-shadow: 5px 10px 10px #000000;
    text-transform: uppercase;
}

button {
    color: white;
    padding: 50px 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: blueviolet;
}

button:hover {
    background-color: darkviolet;
}   
