body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 15px;
}
li:hover{
    background-color: rgb(185, 185, 185);
}
img{
    display: block; 
    margin: 0 auto;
}
a{
    font-weight: bolder;
    padding: 1%;
    display: block;
    
}
a:visited{
    color: rgb(0, 0, 0);
}
a:active{
   color: rgb(0, 0, 0);
}
a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}